/* Write your code here. */
.list-item-container {
  border: solid 2px #ffffff30;
  border-radius: 15px;
  padding: 20px;
  min-height: 25vh;
  min-width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-bottom: 15px;
}
.button {
  background-color: transparent;
  border: none;
}
