/* Write your code here. */
.wonOrLose-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  min-width: 80vw;
  border-radius: 20px;
}
.content-container {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}
.heading {
  color: white;
  font-weight: bold;
  font-size: 50px;
  font-family: 'Roboto';
}
.scores {
  color: white;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 40px;
  text-align: center;
}
.scoreOfPlayer {
  color: #6a59ff;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}
.button {
  padding: 10px;
  background-color: transparent;
  border-radius: 6px;
  border: none;
  color: black;
  font-weight: bold;
  font-family: 'Roboto';
}
