/* Write your code here. */
.nav-bar-container {
  background-color: #9796f0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logo-container {
  display: flex;
  flex-direction: row;
  min-width: 15vw;
}
.logo {
  max-height: 6vh;
  max-width: 6vw;
  margin-top: 5px;
}
.logo-heading {
  color: white;
  font-weight: 1000;
  font-family: 'Roboto';
}
.score-container {
  display: flex;
  flex-direction: row;
}
.score {
  color: white;
  font-weight: 9000;
  font-family: 'Roboto';
  margin-right: 45px;
}
